@import '../../scss/common';
@import '../../scss/colors';

.home_container {
    background-image: url("../../assets/images/Prediction2.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;

    button {
        @extend .add_item_button;
        float: right;
        margin-right: 10px;
        margin-top: 20px;
        width: 200px;
        height: 40px;
        background-color: $color_blue;
        color: $color_white;
    }

    a:link {
        color: $color_green;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: #ffad1a;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        //text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        //text-decoration: underline;
    }
}
